:root {
  --medium-gray: #202022;
  --dark-gray: #151516;
  --white: #fff;
  --black: #0d0d0e;
  --primary: #4a90e2;
  --border-radius: 1rem;
  --border-radius-small: 0.5rem;

  --background-color: var(--dark-gray);
  --foreground-color: var(--medium-gray);
  --color: var(--white);
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  width: 400px;
}
